body {
  background-color: lightblue;
    font-family: helvetica;
    margin: 0px;
    font-size: 18px;
    min-width: 800;
}
    
#wrapper{
    display: ;
    padding: 15px;
}

.border {
    border-radius: 4px;
    border: 4px darkgray;
    border-style: none solid solid none;
    padding: 35px;
    margin-bottom: 20px;
    background: white;
}

#controls {
    background: white;
    margin-bottom: 20px;
}

.controlButtons {
    margin: 0px;
}

#title {
    font-weight: bold;
    font-size: 80px;
    padding-bottom: 20px;
    font-variant-caps: all-small-caps;
}
input{
    
}

.control {
    font-size: 18px;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 5px 5px;
    margin-bottom: 30px;
    margin: 10px 5px 15px 0px;
    border:  2px lightgray;
    border-style: outset;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    width: 175px;
    height: 50px;
}

input:disabled {
  background: #ccc;
}

.control.text {
    width: 100%;
}
    
.button:active {
    background: lightgray;
    border-style: inset;
}

label{
    text-align: center;
}

#i2ctitle{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#i2cControls {
    padding-right: 40px;
    padding-left: 40px;
}

#i2cControls.block {
    display: block;
}

#i2cControls.none {
    display: none;
}

.radio{
    margin-top: auto;
    margin-bottom: auto;
}

#radioDial{
    height: 85px;
    margin-bottom: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

#i2cForm {
    font-size: 100px;
}

#i2cGrid {
    display: grid;
    justify-content: start;
    padding-top: 30px;
    grid-template-columns: 100px 200px 150px 150px;
    grid-column-gap: 15px;
}

.inputLabelWrapper{
    display: grid;
    grid-template-columns: auto;
}

#i2cReadout{
    width: 600;
    border: 2px solid darkgray;
    padding: 15px;
    padding-left: 25px;
}

.i2cerror {
	color: red;
margin-right: 20px;
display: inline-block;
}

#pinGrid{

    display:inline-grid;
    grid-template-columns: 1fr 1fr;
}

.gridWrapper{
    display: grid;
    margin-right: 20px;
    grid-template-columns: 75px 65px 65px  85px 55px;
    margin-top: 2px;
    margin-bottom: 2px;
}
    
.gridWrapper.gridHeaderWrapper {
    font-weight: bold;
    margin-bottom: 8px;
}

.pinAttributeHeaders{
    padding-bottom: 15px;
    margin: auto auto auto auto;
}

    
.pinAttribute{
    margin-right: auto;
    margin-left: auto;
}